footer {
  background-color: rgb(19, 72, 90);
  font-family: Raleway;
  color: rgb(222, 221, 219);
}

footer p,
address {
  text-align: center;
}

@media screen and (max-width: 576px) {
  footer {
    display: none;
  }
}
